<% include header.ejs %>

<br />
<div class="panel-body">

	<% if(error){ %>
		<div class="alert alert-dismissable alert-danger">
			<i class="ti ti-alert danger"></i>&nbsp; <%= error %>
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		</div>
	<% } %>

	<div class="alert alert-dismissable alert-info">
		<i class="ti ti-info-alt"></i>&nbsp; Look at the polls created by our members. Choose any one in which you want to participate and vote for your favourite option or copy their link and share with your friends.
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	</div>

	<a href="/newpoll" class="btn btn-info btn-margin">Create a new poll</a>

	<div class="row">

		<% for(var i = 0; i < polls.length; i++){ %>
			<div class="col-md-6">

				<div class="panel panel-info" data-widget='{"draggable": "false"}'>
					<div class="panel-heading">
						<h2><%= polls[i].poll.question %></h2>
						<div class="panel-ctrls">
							<a onclick="setShare('<%= polls[i].poll._id %>')" data-toggle="modal" href="#copyModal" title="Share" class="button-icon"><i class="ti ti-share bl"></i></a>
							<a href="#" title="Vote" class="button-icon"><i class="ti ti-check-box bl"></i></a>
							<a data-toggle="modal" href="#myModal" title="Delete" onclick="setTitleDelete('<%= polls[i].poll._id %>', '<%= polls[i].poll.question %>')" class="button-icon"><i class="ti ti-trash bl"></i></a>
						</div>

					</div>
					<div class="panel-body" style="height: 148px">
						<p>This poll was created on <%= polls[i].dateFormat %>.</p>
						<p>A total of <%= polls[i].vote %> people has voted on this poll.</p>
						<p>So far, the most voted option is <%= polls[i].mostVoted %>.</p>
					</div>
				</div>
			</div>
		<% } %>

	</div>

	<div class="tab-pane active bottom center" id="dompaginate">
		<ul class="pagination">
			<li 
			<% if(current == 0){ %>
				class="disabled"
			<% } %>
			><a 
			<% if(current == 0){ %>
				href="#"
			<% }else{ %>
				href="/mypolls"
			<% } %>
			><i class="fa fa-angle-left"></i><i class="fa fa-angle-left"></i></a></li>

			<li
			<% if(current == 0){ %>
				class="disabled"
			<% } %>
			><a 
			<% if(current == 0){ %>
				href="#"
			<% }else{ %>
				href="/mypolls?page=<%= parseInt(current) - 1 %>"
			<% } %>
			><i class="fa fa-angle-left"></i></a></li>

			<li class="active"><a href="#"><%= parseInt(current) + 1 %></a></li>

			<li
			<% if(current == last){ %>
				class="disabled"
			<% } %>
			><a 
			<% if(current == last){ %>
				href="#"
			<% }else{ %>
				href="/mypolls?page=<%= parseInt(current) + 1 %>"
			<% } %>
			><i class="fa fa-angle-right"></i></a></li>

			<li
			<% if(current == last){ %>
				class="disabled"
			<% } %>
			><a 
			<% if(current == last){ %>
				href="#"
			<% }else{ %>
				href="/mypolls?page=<%= last %>"
			<% } %>
			><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a></li>
		</ul>
	</div>


	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h2>Do you want to proceed?</h2>
				</div>
				<div class="modal-body">
					<h2 id="modalDeleteTitle" class="modal-title"></h2>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<a href="#" id="deletePollButton" type="button" class="btn btn-primary">Delete</a>
				</div>
			</div>
		</div>
	</div>


</div>

<% include copy.ejs %>
<% include footer.ejs %>